@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.hamburger-menu {
  background-color: #1a1a1a; /* 背景の色 */
  border: none;
  border-radius: 30px; /* 丸い角 */
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
}

.hamburger-icon .line {
  width: 24px;
  height: 2px;
  background-color: white; /* 線の色 */
  border-radius: 1px;
}

/* 追加するスタイル */
.menu-enter {
  transform: translateX(100%);
}

.menu-enter-active {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.menu-exit {
  transform: translateX(0);
}

.menu-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

/* ハンバーガーアイコンのアニメーション */
.hamburger-icon {
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.hamburger-icon .line {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transition: all 0.3s ease;
}

.hamburger-icon .line:nth-child(1) {
  top: 0;
}

.hamburger-icon .line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-icon .line:nth-child(3) {
  bottom: 0;
}

/* ハンバーガーアイコンが開いているときのスタイル */
.hamburger-icon.open .line:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.hamburger-icon.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .line:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 40%;
}

/* メニューのアニメーション */
.menu-enter .menu-content {
  transform: translateX(100%);
}

.menu-enter-active .menu-content {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-exit .menu-content {
  transform: translateX(0);
}

.menu-exit-active .menu-content {
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* オーバーレイのアニメーション */
.menu-enter {
  opacity: 0;
}

.menu-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.menu-exit {
  opacity: 1;
}

.menu-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}
