@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.hamburger-menu {
  background-color: #1a1a1a; /* 背景の色 */
  border: none;
  border-radius: 30px; /* 丸い角 */
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
}

.hamburger-icon .line {
  width: 24px;
  height: 2px;
  background-color: white; /* 線の色 */
  border-radius: 1px;
}

/* 追加するスタイル */
.menu-enter {
  transform: translateX(100%);
  opacity: 0;
}

.menu-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-exit {
  transform: translateX(0);
  opacity: 1;
}

.menu-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
